<h1>New comment</h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>

 	<%= f.hidden_field :post_id %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.label :website %>
	<%= f.text_field :website %>
	<%= f.label :body, "Comment" %>
	<%= f.text_area :body %>
	<%= f.submit "Add Comment"%>
	
<% end %>

<%= link_to 'Back', posts_path %>